aenum==3.1.15
alembic==1.13.1
blinker==1.7.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
flask==3.0.3
Flask-Avatars==0.2.3
Flask-Cors==4.0.0
Flask-Gravatar==0.5.0
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-Reuploaded==1.4.0
flask-sqlalchemy==3.1.1
flask-wtf==1.2.1
greenlet==3.0.3
gunicorn==22.0.0
idna==3.7
importlib-metadata==7.1.0
importlib-resources==5.13.0
itsdangerous==2.2.0
Jinja2==3.1.3
Mako==1.3.3
MarkupSafe==2.1.5
packaging==24.0
pillow==10.3.0
psycopg2-binary==2.9.9
pycountry==23.12.11
requests==2.31.0
SQLAlchemy==2.0.29
StrEnum==0.4.15
typing-extensions==4.11.0
urllib3==2.2.1
uuid==1.30
werkzeug==3.0.2
wtforms==3.1.2
zipp==3.18.1
