/* syles for masonry img display */
.masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.masonry-item {
    margin-bottom: 20px;
}

.masonry-img {
    width: auto;
    height: auto;
    display: block;
}