{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for artwork in artworks %}
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 position-relative">
            <a href="{{ url_for('artwork.artwork_details', artwork_id=artwork.id) }}">
                <img src="{{ artwork.image_url }}" alt="{{ artwork.title }}" class="w-100 shadow-1-strong rounded mb-4">
            </a>
            
            
            <div class="row">
                <div class="col">
                    <p class="fw-bold mb-0 fs-5">{{ artwork.title }}</p>
                    <p class="fw-normal mb-0">{{ artwork.medium }}</p>
                    <p class="fw-normal mb-0">
                        {{ artwork.width }} x {{ artwork.height }} x {{ artwork.depth }} {{ artwork.unit }}
                    </p>
                    <p class="fw-bold ms-auto">$ {{ artwork.price }}</p>
                </div>
                <div class="col-auto">
                    <div class="btn-group">
                        <form action="{{ url_for('favorites.add_favorite', artwork_id=artwork.id) }}" method="post" class="col-6">
                            <button class="btn btn-outline-danger" type="submit">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                        </form>
                        <form action="{{ url_for('shopping_cart.add_shopping_cart', artwork_id=artwork.id) }}" method="post" class="col-6 ms-1">
                            <button class="btn btn-outline-dark" type="submit">
                                <i class="bi bi-bag-plus-fill"></i>
                            </button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}