{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 class="text-center fw-semibold">Welcome Back</h2>
    <form method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
        <br>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <br>
        
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}